<div class="contact-wrapper">
  <div class="contact-header">
    <div class="home">
      <a href="/" class="blue-link">< Contacts</a>
    </div>
    <div class="star">
      star
    </div>
  </div>

  <div class="contact-name">
    <div class="image-sm">
      <img src="<%= @contact["smallImageURL"] %>">
    </div>
    <div class="image-lg">
      <img src="<%= @contact["largeImageURL"] %>">
    </div>
    <h1><%= @contact["name"] %></h1>
    <% if @contact["companyName" != nil] %>
      <p><%= @contact["name"] %></p>
    <% end %>
  </div>

  <div class="contact-info">
    <% if @contact["phone"]["home"] != nil %>
      <div>
        <p>PHONE:</p>
        <p>
          <div class="left">
            <%= @contact["phone"]["home"] %>
          </div>
          <div class="right">
            Home
          </div>
        </p>
      </div>
    <% end %>

    <% if @contact["phone"]["mobile"] != nil %>
      <div>
        <p>PHONE:</p>
        <p>
          <div class="left">
            <%= @contact["phone"]["mobile"] %>
          </div>
          <div class="right">
            Mobile
          </div>
        </p>
      </div>
    <% end %>

    <% if @contact["phone"]["work"] != nil %>
      <div>
        <p>PHONE:</p>
        <p>
          <div>
            <%= @contact["phone"]["work"] %>
          </div>
          <div>
            Work
          </div>
        </p>
      </div>
    <% end %>

    <% if @contact["address"] != nil %>
      <div>
        <p>ADDRESS:</p>
        <p>
          <div>
            <span>
              <%= @contact["address"]["street"] %>
            </span>
            <span>
              <%= @contact["address"]["city"] %>, <%= @contact["address"]["state"] %> <%= @contact["address"]["zipCode"] %>, <%= @contact["address"]["country"] %>
            </span>
          </div>
        </p>
      </div>
    <% end %>

    <% if @contact["birthdate"] != nil %>
      <div>
        <p>BIRTHDATE:</p>
        <p>
          <div>
            <%= @contact["birthdate"] %>
          </div>
        </p>
      </div>
    <% end %>

    <% if @contact["emailAddress"] != nil %>
      <div>
        <p>EMAIL:</p>
        <p>
          <div>
            <%= @contact["emailAddress"] %>
          </div>
        </p>
      </div>
    <% end %>
  </div>

</div>